.nalu-hex-view-container {
  margin-bottom: 40px;
  .hex-view-title {
    padding: 8px 12px;
    margin: 0;
    background-color: #f3f3f3;
  }
  .naldata-column-title {
    margin-bottom: 4px;
    border-bottom: 2px solid #f1f1f1;
    padding: 0 12px;
    span {
      width: 50px;
      display: inline-block;
      &:first-of-type {
        width: 62px;
      }
    }
  }
  .naldata-area-container {
    padding: 0 12px;
    .naldata-row-title {
      display: inline-block;
      width: 35px;
      vertical-align: top;
      margin-right: 15px;
      border-right: 2px solid #f1f1f1;
      span {
        display: block;
        line-height: 20px;
      }
    }
    .naldata-content {
      display: inline-block;
      width: 900px;
      .naldata-row-content {
        line-height: 20px;
        &:nth-of-type(2n) {
          background-color: #f3f3f3;
        }
        span {
          width: 50px;
          display: inline-block;
        }
        .row-title {
          padding-left: 12px;
          width: 35px;
          border-right: 2px solid #f1f1f1;
          margin-right: 15px;
          background-color: #fff;
        }
      }
    }
  }

}