.analyse-mp4 {
  padding-top: 12px;
  .card-upload {
    width: 500px;
    display: block;
    margin: 60px auto 0;
  }
  .analyse-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    .filename {
      margin-right: 24px;
    }
    .reselect-file {
      margin-left: 24px;
    }
    &.change-style {
      padding-left: 12px;
      justify-content: left;
      margin-bottom: 36px;
    }
  }
  .table-and-tree-container {
    border: 2px solid #f1f1f1;
    padding-left: 16px;
    padding-right: 16px;
    & > .ant-col {
      padding: 0 !important;
      max-width: unset;
      min-width: unset;
      &:first-of-type {
        flex: none;
        width: 900px;
      }
      &:last-of-type {
        flex: 1;
      }
    }
    .ant-table {
      .nal_type_1 {
        background-color: rgb(201, 253, 232);
      }
      .nal_type_5 {
        background-color: rgb(255, 224, 253);
      }
      .nal_type_6 {
        background-color: rgb(218, 224, 254);
      }
      .nal_type_7 {
        background-color: rgb(255, 226, 216);
      }
      .nal_type_8 {
        background-color: rgb(252, 203, 255);
      }
      .ant-table-row {
        &.selected {
          .ant-table-cell {
            background-color: #fb9106;
          }
        }
      }
    }
    .nalu-tree-container {
      border-left: 2px solid #f1f1f1;
    }
  }
}